resources:
- name: cluster
  type: container.v1.cluster
  properties:
    zone: {{ properties["zone"] }}
    cluster:
      name: {{ env["deployment"] }}
      nodePools:
      - name: {{ env["deployment"] }}-default
        initialNodeCount: {{ properties["initialNodeCount"] }}
        config:
          machineType: g1-small
          diskSizeGb: 10
          serviceAccount: {{ properties["serviceAccount"] }}
          oauthScopes:
          - https://www.googleapis.com/auth/cloud-platform
